@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #2683ee;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
#inpt{height:100px;}
#mycourse{background-color:black;margin: 0;height:56px}
hr{background-color:#2683ee;border:0;}
body{
    margin: 0;
    padding: 0;
    min-height: 15vh;
    background:black;
    justify-content: center;
    align-items: center;
    font-family: Chiller;
}


.container1{
    width: 1000px;
    position: relative;
    display: flex;
    margin-left:75px;

}

.container1 .card1{
    margin-top: 1px;
    margin-left: 90px;
    position: relative;
    cursor: pointer;
}

.container1 .card1 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container1 .card1 .face.face1{
    position: relative;
    background: rgb(24, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    box-shadow: 5px 10px 10px #2683ee;
}

.container1 .card1:hover .face.face1{
    background: #2683ee;
    transform: translateY(0);
    box-shadow: 5px 4px 4px #ffffff;
}

.container1 .card1 .face.face1 .content1{
    opacity: 1;
    transition: 0.5s;
}

.container1 .card1:hover .face.face1 .content1{
    opacity: 1;
}

.container1 .card1 .face.face1 .content1 img{
    max-width: 100px;
}

.container1 .card1 .face.face1 .content1 h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.container1 .card1 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
    height:100px;
}

.container1 .card1:hover .face.face2{
    transform: translateY(0);
}

.container1 .card1 .face.face2 .content1 p{
    margin: 0;
    padding: 0;
}

.container1 .card1 .face.face2 .content1 a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    font-size:1.3em}

.container1 .card1 .face.face2 .content1 a:hover{
    background: #333;
    color: #fff;
}